.marvin {
    display: grid;
    height: 80%;
    width: 80%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 15% 70%;
    font-size: 3rem;
}

#spot1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#spot2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#spot3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#spot4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#spot5 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#marvin_gif {
    grid-column: 2/3;
    grid-row: 2/4;
}
