/* CANTINA */

.cantina-wrapper {
	font-size: 2.4rem;
}

.cantina-wrapper .spacing {
	height: 4rem;
}

.cantina-wrapper .meal {
	text-transform: uppercase;
}

.cantina-wrapper .cantina-hours {
	font-style: italic;
}

.cantina-wrapper .cafe {
	text-transform: capitalize;
	text-decoration: underline;
}

#cantina-greet {
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
}