/* word of a day css */
.WOD {
	font-size: 2.5rem;
	text-align: left;
	hyphens: auto;
}

.WOD .word {
	font-size: 4rem;
}

.WOD .word_definition {
	padding: 3rem 0;
}

.WOD .word_example {
	font-style: italic;
}
