
/* news css */
.NEWS {
	font-size: 1.5rem;
	text-align: left;
	hyphens: auto;
  padding-bottom: 4rem;
}

.NEWS .title {
	font-size: 1.75rem;
  font-weight: bold;
  padding-bottom: 0.8rem
}
.NEWS .source {
	font-style: italic;
  font-size: 1.5rem
}
