/* news css */
.news {
	font-size: 2rem;
	text-align: left;
	hyphens: auto;
  padding-bottom: 4rem;
}

.news .source {
	font-style: italic;
  font-size: 2.5rem;
	color: #aab5f3;
}
.news .title {
	font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 0.8rem;
	/* padding-left: 2rem; */
}

.news .description {
	padding-left: 2rem;
}