html, body {
	background-color: black;
	color: white;
	height: 100vh;
}

span .time{
	display:inline-block;
    width:100px;
    background:blue;
    text-align:center;
}

.wrapper {
	/*border: 1px solid green;*/
	display: grid;
	grid-template-columns: 20% 60% 20%;
	/* grid-template-rows: 10% 80% 10%; */
}

button {
	grid-column: 1;
}

.wrapper > div {
	display: flex;
	flex-direction: column;
	border: 1px solid red;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	font-family: 'Futura';
	font-weight: bold;
}

#body {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-rows: 10% 80% 10%;
}

.header > div{
	border: 1px solid blue;
	text-align: center;
	padding: 0;
}

#content {
	min-height: 400px;
}

#content > div{
	border: 1px solid green;
	text-align: center;
	padding: 0;
}


.clock {
	font-size: 1000%;
}

.date {
	font-size: 450%;
}

.blink {
  -webkit-animation: blink 2s steps(3, start) infinite;
  -moz-animation:    blink 2s steps(3, start) infinite;
  -o-animation:      blink 2s steps(3, start) infinite; 
  animation:         blink 2s steps(3, start) infinite;
}

@-webkit-keyframes blink {
  to { visibility: hidden; }
}
@-moz-keyframes blink {
  to { visibility: hidden; }
}
@-o-keyframes blink {
  to { visibility: hidden; }
}
@keyframes blink {
  to { visibility: hidden; }
}