/* BASE CSS */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	padding: 0rem;
}

/* TYPOGRAPHY */

body {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.4;
	word-spacing: 2.5;
	line-height: 1.7;
	text-align: center;
	color: white;
	background-color: black;
}

.center-div {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SECTIONS */

.wrapper {
	height: 100%;
	display: grid;
	grid-template-columns: 10rem 1fr 10rem;
	grid-template-rows: 3fr 2fr 55% 3fr;
	grid-gap: 1rem;
	padding: 3rem 0;
	position: relative;
}

.wrapper > div,
.dashboard > div {
	/* border: 3px solid grey; */
}

.dashboard {
	grid-row: 1/2;
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 1fr 50% 1fr;
	grid-template-rows: 100%;
	grid-gap: 1rem;
	position: relative;
}

.dialog {
	grid-column: 2/3;
	grid-row: 2/3;
	position: relative;
    overflow: hidden;
}

.dialog img {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        max-width: 100%;
        height: auto;
}

.content {
	grid-column: 2/3;
	grid-row: 3/4;
	position: relative;
}

.content > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.announcements {
	grid-column: 2/3;
	grid-row: 4/5;
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 1rem;
}

/* -- MODULES -- */

/* USER */

.user {
	grid-column: 1/2;
	grid-row: 1/2;
	font-size: 1.6rem;
	line-height: 1.5;
}

.user img {
	max-width: 50%;
	max-height: 50%;
	margin: 1rem;
}

/* DATE & TIME */

.date-time {
	grid-column: 2/3;
	grid-row: 1/2;
	font-weight: 700;
}

.date-time .clock {
	font-size: 8rem;
	line-height: .95;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

.date-time .clock .hour {
	grid-column: 1/2;
	text-align: right;
}

.date-time .clock .colon {
	grid-column: 2/3;
	animation: blink 2s steps(3, start) infinite;
}

.date-time .clock .minutes {
	text-align: left;
}

.date-time .date {
	font-size: 2.6rem;
}

/* TOP-RIGHT WEATHER */

.weather {
	grid-column: 3/4;
	grid-row: 1/2;
	position: relative;
}


.weather .weather-wrapper {
	font-size: 2rem;
}

.weather .weather-wrapper img {
	margin: 1rem;
	height: 10rem;
}

/* HELPER PROMPT
.dialog {
	transition: all 1s;
}

.dialog .prompt {
	position: relative;

	animation: zoomTowards 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.prompt .prompt__text {
	width: 80%;
	font-size: 1.5vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

/* CONTENT WEATHER */

.weather-by-location {
	font-size: 6.5rem;
	font-weight: 600;
}

.weather-by-location > div img {
	margin: 3rem;
	height: 36rem;
}

/* FORECAST */

.forecast_wrapper {
	min-width: 50rem;
	display: grid;
	grid-template-rows: 10% repeat(5, 1fr);
	grid-template-columns: 100%;
	grid-gap: 1rem;
	transition: all .4s;
}

.forecast_wrapper:first-child {
	font-size: 3rem;
}

.forecast_wrapper .daycast {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100%;
	margin: 2rem 0;
}

.forecast_wrapper .daycast > div {
	padding: 0 1rem;
}

.forecast_wrapper .daycast .fore_day,
.forecast_wrapper .daycast .fore_temp {
	position: relative;
}

.forecast_wrapper .daycast .fore_day > p,
.forecast_wrapper .daycast .fore_temp > p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.forecast_wrapper .daycast .fore_img img {
	height: 10rem;
}

.daycast--0,
.daycast--2,
.daycast--4 {
	animation: moveInRight 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.daycast--1,
.daycast--3 {
	animation: moveInLeft 1s cubic-bezier(0.19, 1, 0.22, 1);
}

/* LOCAL TIME */

.locale {
	font-size: 4rem;
	line-height: 1;
	min-width: 50rem;
}

.locale .clock {
	font-size: 12rem;
	line-height: .95;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	margin: 3rem 0;
}

.locale .clock .hour {
	grid-column: 1/2;
	text-align: right;
}

.locale .clock .colon {
	grid-column: 2/3;
	animation: blink 2s steps(3, start) infinite;
}

.locale .clock .minutes {
	text-align: left;
}

/* CANTINA */

.cantina .spacing {
	height: 1.5rem;
}

.cantina_hours {
	font-size: 150%;
}

.cantina .meal {
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 1.4rem;
}

.cantina .cafe {
	text-transform: capitalize;
	text-decoration: underline;
}

#cantina_greet {
	font-size: 2rem;
	text-decoration: underline;
	text-transform: uppercase;
}

/* HELP WITH COMMANDS */
.help {
	width: 80%;
	font-size: 2rem;
}

/* AUTHORS */
.author-wrapper {
	height: 40vh;
	width: 30vh;
	display: inline-block;
	/* background-color: orangered; */
	background-size: cover;
    background-position: top;
    position: relative;
}

.row {
	height: 47%;
	max-width: 100%;
	margin: 0 auto;
	/* background-color: blue; */
	background-size: cover;
	background-position: top;
	position: relative;
}

.row:not(:last-child) {
	margin-bottom: 8%;
}

.row::after {
	/* creating an pseudo element that is empty */
	content: "";
	/* table */
	display: table;
	/* clears any float elements around it may have */
	clear: both;
}

.row .col-1-of-2 {
	display: inline-block;
	height: 100%;
	width: 40%;
	/* background-color: green; */
	background-size: cover;
	background-position: top;
	overflow: hidden;
	/* float: left; */

	font-size: 1.2vh;
}

.row .col-1-of-2:not(:last-child) {
	margin-right: 10%;
}

.row .col-1-of-2 > div:first-child {
	height: 80%;
	border: .3vh inset white;
	box-shadow: 0 .3vh 5.3vh white;
}

.row .col-1-of-2 > div:last-child {
	padding-top: 2%;
}

.nastya_z__pic {
	background-image: url(../img/author/nastya_z.jpg);
	background-size: cover;
	
}

.eugeniu__pic {
	background-image: url(../img/author/eugeniu.jpg);
	background-size: cover;
}

.kyle__pic {
	background-image: url(../img/author/kyle.jpg);
	background-size: cover;
}

.nastya_d__pic {
	background-image: url(../img/author/nastya_d.jpg);
	background-size: cover;
	position: relative;
}

.row .nastya_z {
	animation: moveInDownRight 1s ease-in-out;
}

.row .eugeniu {
	animation: moveInDownLeft 1s ease-in-out;
}

.row .kyle {
	animation: moveInUpRight 1s ease-in-out;
}

.row .nastya_d {
	animation: moveInUpLeft 1s ease-in-out;
}

.help h2 {
	font-size: 4rem;
	margin: 3rem;
}

/* word of a day css */

.word {
	padding: 30px;
	padding-bottom: 10px;
	padding-right: 30px;
	text-align: left;
	font-size: 200%;
}

.word_definition {
	padding-left: 30px;
	padding-top: 10px;
	padding-left: 30px;
	text-align: left;
	font-size: 100%;
}

.word_example {
	padding: 30px;
	padding-top: 50px;
	text-align: left;
	font-size: 100%;
	font-style: italic;
}

/* SHOW STUDENT */
.student {
	font-size: 3rem;
	width: 50rem;
}

.student > div img {
	max-height: 28rem;
	margin: 3rem;
}

/* PROJECTS */
.best-projects {
	display: block;
	height: 80%;
	width: 25vh;
	
	/* animation: zoomTowards 1s cubic-bezier(0.19, 1, 0.22, 1); */
}

.best-projects .best-projects__header,
.best-projects .best-projects__person {
	font-size: 1.5rem;
	animation: zoomTowards 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.best-projects .best-projects__person {
	text-transform: capitalize;
}

.best-projects .best-projects__item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.8rem;
	height: 6rem;
	padding: 3.45rem 0px;
}

.best-projects .best-projects__item > div {
	padding: 1rem;
}
.best-projects .best-projects__item > div:first-child {
	width: 70%;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#best-projects--0,
#best-projects--2,
#best-projects--4 {
	animation: moveInRight 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#best-projects--1,
#best-projects--3 {
	animation: moveInLeft 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.best-projects .best-projects__item > div:last-child {
	width: 25%;
	text-align: right;
}

/* ANNOUNCEMENTS */

.posts {
	display: grid;
	grid-template-columns: 15% 1fr;
	grid-template-rows: 1fr;
	grid-gap: 1rem;
}

.posts > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.posts img{
	grid-column: 1/2;
	height: 7rem;
}

.post_text {
	display: block;
	grid-column: 2/3;
	font-size: 2rem;
	text-align: left;
}

/* POPUP FOR STUDENT SEARCH */

.popup {
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.805);
	z-index: 1000;
	position: fixed;
	display: flex;
	justify-content: center;

	/* opacity: 0;
	visibility: hidden; */
	transition: all .3s;
}
/* 
.popup-visible {
	opacity: 1;
	visibility: visible;
} */

.popup button {
	visibility: hidden;
}

.popup .popup__content {
	width: 75%;
	height: 20rem;
	/* background-color: white; */
	color: white;
	text-align: center;
	border-radius: 3px;
	border: 2px inset white;
	box-shadow: 0 0 2rem rgba(0,0,0,.4);
	position: absolute;
    top: 30%;
}

.popup .popup__content .popup__content--header {
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: 1.5;
}

.popup .popup__content .popup__form--entry-input {
	background: none;
	border: none;
	text-align: center;
	cursor: none;
	color: white;
	text-transform: lowercase;
	transition: 0.4s width 0.2s, 0.1s height;
	font-size: 4rem;
}

.popup .popup__content .popup__close:link,
.popup .popup__content .popup__close:visited{
	text-decoration: none;
	color: white;
}
.popup .popup__content .popup__close--wrapper {
	height: 4rem;
	font-size: 3rem;
}

/* DEVELOPER BUTTONS */
body .developer {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100px;
}

.actions input {
	color: black;
}

.developer button,
.actions button {
	width: 100%;
	display: block;
	color: black;
}

/* ACTION BUTTONS */
body .actions {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 100px;
}

/* ANIMATIONS */

@keyframes blink {
	to { visibility: hidden; }
}

@keyframes moveInDownRight {
    0% {
        opacity: 0;
        transform: translate(-5rem, -5rem);
    }

    80% {
        transform: translate(1rem, 1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);      
    }
}

@keyframes moveInDownLeft {
    0% {
        opacity: 0;
        transform: translate(5rem, -5rem);
    }

    80% {
        transform: translate(-1rem, 1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);      
    }
}

@keyframes moveInUpLeft {
    0% {
        opacity: 0;
        transform: translate(5rem, 5rem);
    }

    80% {
        transform: translate(-1rem, -1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);      
    }
}

@keyframes moveInUpRight {
	0% {
		opacity: 0;
        transform: translate(-5rem, 5rem);
    }
	
    80% {
		transform: translate(1rem, -1rem);
    }
	
    100% {
		opacity: 1;
        transform: translate(0);      
    }
}

@keyframes moveInRight {
	0% {
		opacity: 0;
        transform: translateX(-10rem);
    }
	
    80% {
		transform: translateX(2rem) scale(1.5);
    }
	
    100% {
		opacity: 1;
        transform: translate(0) scale(1);      
    }
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
        transform: translateX(10rem);
    }
	
    80% {
		transform: translateX(-2rem) scale(1.5);
    }
	
    100% {
		opacity: 1;
        transform: translate(0) scale(1);      
    }
}

@keyframes zoomTowards {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);      
	}
}


@keyframes blinkChair {
	to { background-color: black; }
}

/* 42 MAP */

:root {
	--size: 1fr;
	--width: 30;
	--height: 49;
  }

.zone {
    display: grid;
    grid-template-columns: repeat(var(--width), var(--size));
    grid-template-rows: repeat(var(--height), var(--size));
	background-color: black;
	position: static;
}

.zone img {
	display: block;
    margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	max-height: 90%;
}


.row_container_zone1 {
    display: grid;
    grid-template-rows: repeat(3, var(--size));
}

.row_container_zone2 {
    display: grid;
    grid-template-columns: repeat(14, var(--size));
    grid-template-rows: repeat(14, var(--size));
}

.row_container_zone2_0 {
    display: grid;
    grid-template-columns: repeat(4, var(--size));
    grid-template-rows: repeat(3, var(--size));
}

.row_container_zone3 {
	display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-template-rows: repeat(7, var(--size));
}

.seat-occupied {
	background-color: red;
	animation:         blinkChair 1s steps(3, start) infinite;	
}

.seat-occupied img {
	animation:         blink 1s steps(3, start) infinite;	
}

.seat {
    background-color: black;
}

.table {
    background-color: grey;
}

.user_position img{
	max-width: 300%;
	max-height: 300%;
}

#not_found {
	font-size: 2rem;
}

#message {
	font-size: 2rem;

}

/* STANDARDS */

/*

-- CENTERING --

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

*/