html, body {
		height: 100%;
		padding: 10px;
}

.wrapper {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 80% 1fr;
	grid-template-rows: 1fr 1fr 70% 3fr;
	grid-gap: 10px;

}

* {
	box-sizing: border-box;
}

.wrapper {
	background-color: black;
	font-family: sans-serif;
}

.wrapper > div {
	border: 3px solid grey;
}

.box {
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 200%;
}

.clock {
	grid-column: 2/3;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: end;
}

.date {
	grid-column: 2/3;
	grid-row: 2/3;
}

.marvin {
	grid-column: 2/3;
	grid-row: 3/4;
}

.announcements {
	grid-column: 1/5;
	grid-row: 4/ 4;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 10px;
}

.posts {
	display: grid;
	grid-template-columns: : 10% 1fr;
	grid-gap: 10px;

}
.posts img {
	grid-column: 1/2;
	max-width: 90%;
	max-height: 90%;
}

.post_text {
	grid-column: 2/3;
	font-size: 12px;
	text-align: left;
}
/* Clock elements css*/

.hour {
	grid-column: 1/2;
	text-align: right;
}

.colon {
	grid-column: 2/3;
}

.minutes {
	text-align: left;
}

.colon {
  -webkit-animation: blink 2s steps(3, start) infinite;
  -moz-animation:    blink 2s steps(3, start) infinite;
  -o-animation:      blink 2s steps(3, start) infinite;
  animation:         blink 2s steps(3, start) infinite;
}

@-webkit-keyframes blink {
  to { visibility: hidden; }
}
@-moz-keyframes blink {
  to { visibility: hidden; }
}
@-o-keyframes blink {
  to { visibility: hidden; }
}
@keyframes blink {
  to { visibility: hidden; }
}
