/* BASE CSS */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	padding: 0rem;
}

/* TYPOGRAPHY */

body {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.4;
	word-spacing: 2.5;
	line-height: 1.7;
	text-align: center;
	color: white;
	background-color: black;
}

.center-div {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper {

	display: grid;
	grid-template-columns: 100px 1fr 80% 1fr 100px;
	grid-template-rows: 2fr 1fr 60% 5fr;
	grid-gap: 1rem;

}

* {
	box-sizing: border-box;
}

.wrapper {
	background-color: black;
	font-family: sans-serif;
}

.wrapper > div {
	border: 3px solid grey;
}

.box {
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	text-align: center;
}

.clock {
	grid-column: 3/4;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: middle;
	font-size: 10vmin;
}

.date {
	grid-column: 3/4;
	grid-row: 2/3;
	font-size: 5vmin;
}

.marvin {
	grid-column: 3/4;
	grid-row: 3/4;
}

.announcements {
	grid-column: 2/5;
	grid-row: 4/4;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 10px;
}

.posts {
	display: grid;
	grid-template-columns: : 10% 1fr;
	grid-gap: 10px;

}
.posts img {
	grid-column: 1/2;
	/* max-width: 90%;
	max-height: 90%; */
	height: 50px;
	width: 50px;
}

.post_text {
	grid-column: 2/3;
	font-size: 12px;
	text-align: left;
}
/* Clock elements css*/

.hour {
	grid-column: 1/2;
	text-align: right;
}

.colon {
	grid-column: 2/3;
}

.minutes {
	text-align: left;
}

.colon {
  -webkit-animation: blink 2s steps(3, start) infinite;
  -moz-animation:    blink 2s steps(3, start) infinite;
  -o-animation:      blink 2s steps(3, start) infinite;
  animation:         blink 2s steps(3, start) infinite;
}



@-webkit-keyframes blink {
  to { visibility: hidden; }
}
@-moz-keyframes blink {
  to { visibility: hidden; }
}
@-o-keyframes blink {
  to { visibility: hidden; }
}
@keyframes blink {
  to { visibility: hidden; }
}
